.bold-label {
    font-weight: bold;
}

.notebook-button-active {
    background: lightgrey;
}

.text-conflict {
    background: lightyellow;
}

.text-solved {
    background: #B2F77D;
}

.conflict label {
    color: red;
    font-weight: bold;
}

.solved label {
    color: green;
    font-weight: bold;
}

.save-conflict {
    background: #B2F77D;
}

.colbutton {
   padding: 2px 2px;
   margin: 1px 1px;
}
