.bold-label {
    font-weight: bold;
}

.notebook-button-active {
    background: lightgrey;
}

.text-label {
    font-size: 14px;
}

.conflict label {
    color: red;
    font-weight: bold;
}

#save-conflict {
    background: #B2F77D;
}

.conflict-solved {
    background: #B2F77D;
}

.solved {
    color: green;
    font-weight: bold;
}

#text-word {
    font-weight: bold;
}

.colbutton {
    padding: 1px 5px 1px 5px;
    margin: 1px 1px;
}
