.conflict {
    background-color: blue;
    color: white;
}

.text-view {
    font-family: 'Courier New', Courier, monospace;
}

.conflict-solved {
    color: white;
    background: green;
}

.solved {
    color: white;
    background-color: green;
}

#text-word {
    font-weight: bold;
}